<!DOCTYPE html>

{% extends 'layout.html' %}

{% block title %}HOME{% endblock %}

{% block content %}
<p>Welcome back, {{username}}. Here is your To do list</p>
<body class="loggedin">





<table>
	<tr>
		<th>Insert new item:</th>
		
	</tr>

</table>


</body>
	<form action="/" method="POST">
	<input type="text" name="todo" id="content">
	<input type="submit" value="Add Task">
	</form>
	<form action="/" method="POST">
    	<input type=submit value="Clear" name="dele"/>
	</form>
{% for row in Todo %}
	<p> {{row[0]}} </p>
	
{% endfor %}

{% endblock %}
